stages:
  - build_docker

workflow:
  rules:
    - if: $CI_COMMIT_TAG =~ /^v(\d+\.)?(\d+\.)?(\*|\d+).*$/

default: { }

.build_docker:
  stage: build_docker
  image:
    name: registry.gitlab.fortebank.com/devops/images/kaniko:v1.15.0
    entrypoint: [ "" ]
  variables:
    MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
    MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  cache:
    paths:
      - node_modules/
  script:
    - env
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - |
      /kaniko/executor \
        --context $CI_PROJECT_DIR \
        --dockerfile $CI_PROJECT_DIR/Dockerfile \
        --destination $IMAGE_TAG \
        --cache=true

build_docker_tag:
  extends: .build_docker
  before_script:
    - export VERSION=$CI_COMMIT_TAG
    - export IMAGE_TAG=${CI_REGISTRY_IMAGE}:${VERSION}
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v(\d+\.)?(\d+\.)?(\*|\d+).*$/'
      when: on_success